# Umbraco
src/WebApp/App_Browsers/
src/WebApp/App_Code/
src/WebApp/App_Data/
src/WebApp/aspnet_client/
src/WebApp/media/created-packages/
src/WebApp/media/*/Cached/
src/WebApp/Umbraco/*
src/WebApp/data/
src/WebApp/install/
src/WebApp/umbraco_client/
src/WebApp/config/*
src/WebApp/bin/*
src/WebApp/default.aspx

# put some back in
!src/WebApp/config/umbracoSettings.config
!src/WebApp/bin/uLocalgov*
!src/WebApp/Umbraco/Images/Umbraco/*

# Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
WebApp/*/[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf
