# Umbraco
src/WebApp/App_Browsers/
src/WebApp/App_Code/
src/WebApp/App_Data/
src/WebApp/aspnet_client/
src/WebApp/media/created-packages/
src/WebApp/media/*/Cached/

# Visual Studio
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad