/* site layout and design stylesheet */


.search-box { 
	margin-top: 1em;
}

/* --------
   Landing Pages : pages with big links that help users get to what they want
   -------- */

.landingItem {
  padding: 2em;
  border: 1px solid transparent;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px ;
  border-radius: 8px;
}

.landingItem:Hover {
  background-color: #f5f5f5; 
}

.landingLink:Hover { 
  text-decoration: none;
}

.landingLink > .icon48 {
  float: left ; 
}

.landingLink > .landingText {
  margin-left: 55px;
  display: block;
}

.landingList > h3 > a 
{
  padding:0 12px 0 0;
  margin:0 20px 0 0;
  background:url(/images/crumb.gif) no-repeat right center;
  color:#444;
  font-weight:bold;   
}

.landingText > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.landingText > ul > li { 
  display: inline ; 
}

ul.moreLinks{
  liststyle: none; 
}

.moreLinks > li {
  display: block ; 
  float: left;
  padding: 4px 10px;
  background:url(/images/crumb.gif) no-repeat right center;
}

.icon48 {
  background-image:url(/images/icons/right.png);
  width:48px;
  height:48px;
  display:block;
}






/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
